@model TimerCard.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StuId" class="control-label"></label>
                <input asp-for="StuId" class="form-control" />
                <span asp-validation-for="StuId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discipline" class="control-label"></label>
                <input asp-for="Discipline" class="form-control" />
                <span asp-validation-for="Discipline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeachName" class="control-label"></label>
                <input asp-for="TeachName" class="form-control" />
                <span asp-validation-for="TeachName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Temperature" class="control-label"></label>
                <input asp-for="Temperature" class="form-control" />
                <span asp-validation-for="Temperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContact" class="control-label"></label>
                <input asp-for="EmergencyContact" class="form-control" />
                <span asp-validation-for="EmergencyContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MergencyPeoplePhone" class="control-label"></label>
                <input asp-for="MergencyPeoplePhone" class="form-control" />
                <span asp-validation-for="MergencyPeoplePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Langtineadress" class="control-label"></label>
                <input asp-for="Langtineadress" class="form-control" />
                <span asp-validation-for="Langtineadress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
